/*REPOSO*/
div {
  margin-bottom: 5px;
  padding-top: 10px;
}

span,
input {
  font: 16px/16px Verdana;
  padding: 0;
}

label {
  display: block;
  width: 400px;
  border: 2px solid silver;
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.25s;
}

label input {
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}

label span {
  color: silver;
  position: absolute;
  top: 8px;
  left: 10px;
  transition: 0.25s;
}

/*FOCUS*/

label.focus {
  border-color: red;
}

label span.focus {
  color: red;
}

/*TOP*/

label span.top {
  left: 2px;
  top: -10px;
  font-size: 12px;
  background-color: white;
  padding: 0 5px;
}
